<%- include('partials/banner') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="mt-1 col-xs-2 col-sm-3 btn btns-color"> Login</a>
        <a href="/signup" class="mt-1 col-xs-2 col-sm-3 btn btns-color"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>