<%- include('partials/banner') -%>
<body id="team-body">
    <main id="team">
        <div class="d-flex p-2 justify-content-center">
            <a href="http://madelinehassett.com/"><span>Madeline Hassett</span></a>
            <a href="https://www.linkedin.com/in/madelinehassett/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/bjorkypie"><i class="fab fa-github-square"></i></a>
        </div>
    </main>
</body>
   
    

<%- include('partials/footer') -%>