nav a{
    text-decoration: none;
}

#navbar-color, #team-body{
    background-color: #94C752 !important;
}

#nav-button, .main-button{
    background-color: #CB6E7A!important;
    color: white !important;
    font-weight: 600;
}

#nav-button:hover, .main-button:hover{
    background-color: #CB6E7A !important;
    color: black !important;
}

.btns-color{
    background-color: #94C752 !important;
    color: white !important;
    font-weight: 600;
}

.btns-color:hover{
    background-color: #94C752 !important;
}

i{
    color: rgb(233, 224, 224);
    margin: 0 5px;
    font-size: 20px;
}

#team span{
    color: white;
    font-weight: 500;
}
#team a{
    text-decoration: none;
}

.caption{
    font-size: 25px;
    font-weight: 500;
}



@media (max-width: 575.98px) {
    nav img{
        width: 100%;
    }

    .nav-header{
        text-align: center;
    }
}